<!doctype html>
<html>
  <head>
    <title>
      ZOMG Beer App
    </title>
    <!-- Styles -->
    <link rel="stylesheet" href="../styles/reset.css" />
    <link rel="stylesheet" href="../styles/styles.css" />
    <!-- Scripts -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <!--<script src="https://d3js.org/d3.v4.0.0-alpha.45.min.js"></script>-->
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
  </head>

  <body>
    <header>
      <div class="masthead">
        <div class="search_wrapper">
          <form>
          <input type="text" id="search-beer" name="search-beer" placeholder="Enter Beer Name"/>
          <input type="submit" name="submit" id="findBeer" />
          </form>
        </div>
      </div>
    </header>
    <section id="chart">
      <!-- chart inserts here -->
    </section>
    <footer>
      <p>&copy; Tack Mobile 2016 &#124; Powered by: brewerydb.com</p>
    </footer>
  </body>
  <!-- custom script -->
  <script src="../scripts/brewapi.js"></script>
</html>