<!doctype html>
<html>
  <head>
    <title>
      ZOMG Beer App
    </title>
    <!-- Styles -->
    <link rel="stylesheet" href="../styles/styles.css" />
    <!-- Scripts -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <!--<script src="https://d3js.org/d3.v4.0.0-alpha.45.min.js"></script>-->
    <script src="http://d3js.org/d3.v3.min.js"></script>
  </head>
  
  <body>
  </body>
  <!-- custom script -->
  <script src="../scripts/brewapi.js"></script>  
</html>